<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonew"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityCycleRentals"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminProfile"
            android:exported="false" />
        <activity
            android:name=".admin.AdminRents"
            android:exported="false" />
        <activity
            android:name=".common.Settings"
            android:exported="false" />
        <activity
            android:name=".user.RideHistory"
            android:exported="false" />
        <activity
            android:name=".common.UserProfile"
            android:exported="false" />
        <activity
            android:name=".user.SplashActivityConfirm"
            android:exported="false" />
        <activity
            android:name=".user.RideConfirmation"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBicycleAvailabitily_Matale"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLocation"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBicycleAvailabitily_Katugastota"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBicycleAvailabitily_Kandy"
            android:exported="false" />
        <activity
            android:name=".user.RentBicycle_Matale"
            android:exported="false" />
        <activity
            android:name=".user.RentBicycle_Katugastota"
            android:exported="false" />
        <activity
            android:name=".common.SelectLocation"
            android:exported="false" />
        <activity
            android:name=".user.RentBicycle_Kandy"
            android:exported="false" />
        <activity
            android:name=".user.BicycleList"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAccountCreate"
            android:exported="false" />
        <activity
            android:name=".common.SplashActivityStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminDash"
            android:exported="false" />
        <activity
            android:name=".user.Register"
            android:exported="false" />
        <activity
            android:name=".user.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".common.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>